@import '../../../styles/settings.scss';

.root {
  .header {
    text-align: center;
  }
  .temperature {
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
  }
}
